
<p>
  <strong>Matriculacion:</strong>
  <%= @cta_cte.matriculacion_id %>
</p>

<p>
  <strong>Nro cta cte:</strong>
  <%= @cta_cte.nro_cta_cte %>
</p>

<%= link_to 'Edit', edit_cta_cte_path(@cta_cte) %> |
<%= link_to 'Back', cta_ctes_path %>
