<div class='panel panel-default'>
	<div class="panel-heading">
		<h2>
			<center>REGISTRO DE ALUMNO</center>
		</h2>
	</div>
</div>
<%= render 'form' %>

<%= link_to glyph(:arrow_left) +' Atras', alumnos_path %>
