<p>
  <strong>Alumno:</strong>
  <%= @matriculacion.alumno_id %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @matriculacion.curso_id %>
</p>



<%= link_to 'Editar', edit_matriculacion_path(@matriculacion) %> |
<%= link_to 'Salir', matriculacions_path %>
