<div class="panel panel-default">
	<div class=" panel-heading">
		<h3><center>REALIZAR PAGO</center> </h3>
	</div>
</div>

<%= render 'form' %>

<%= link_to glyph(:arrow_left) + ' Atras', pagos_servicios_path, class: 'btn btn-link btn-sm' %>
