<p>
  <strong>Servicio:</strong>
  <%= @pagos_servicio.servicio %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @pagos_servicio.monto %>
</p>

<%= link_to glyph(:arrow_left)+' Volver', pagos_servicios_path, class: 'btn btn-link btn-sm' %>
